*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex

# Original archive artifacts
android-kerberos-authenticator-master/
android-kerberos-authenticator-master.zip
*.pdf
